.banner {
    position: relative;
    text-align: center;
    background-image: linear-gradient($soft-blue, $very-dark-blue);
    padding: 64px 16px 67px;

    &__svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 40px;
        transform: rotate(180deg);
    }

    &__text {
        font-family: $font2;
        font-size: 36px;
        line-height: 42px;
        color: $font-color2;
    }

    &__button {
        margin-top: 36px;
        @extend %button--mobile;
        padding: 13px 43px;
    }
}

@media only screen and (min-width:768px) {
    .banner {
        padding: 213px 100px 151px;

        &__svg {
            height: 120px;
        }

        &__text {
            font-size: 48px;
            line-height: 62px;
        }

        &__button {
            padding: 16px 59px;
            font-size: 1.125em;
            line-height: 24px;
        }
    }
}