.footer {
    text-align: center;
    padding: 24px 16px 31px;

    &__social {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;

        & a {
            text-decoration: none;

            & i {
                line-height: 28px;

                &:hover {
                    color: $cyan;
                }

            }

            .icon-facebook2:before {
                content: "\ea91";
            }

            .icon-instagram:before {
                content: "\ea92";
            }

            .icon-spotify:before {
                content: "\ea94";
            }

            .icon-telegram:before {
                content: "\ea95";
            }

            .icon-twitter:before {
                content: "\ea96";
            }
        }

    }
}

@media only screen and (min-width:768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 36px 100px 31px;

        &__social {
            flex: 0.3;
            margin: 0;

        }
    }
}