 .from {
     &__img {
         width: 320px;
         transform: translateY(-100px);
     }

     &__article {
         transform: translateY(-73px);
         padding: 0 16px;

         h2 {
             margin-bottom: 8px;
         }
     }
 }


 @media only screen and (min-width:768px) {
     .from {
         display: flex;
         justify-content: center;
         height: 555.4px;

         &__img {
             width: 457.6px;
             height: 660px;
             transform: translateY(-170px);
         }

         &__article {
             transform: none;
             max-width: 464px;
             margin-left: 62.4px;
             align-self: flex-start;
             margin-top: 20.4px;

             h2 {
                 margin-bottom: 24px;
             }
         }
     }
 }