.gallery {
    &__title {
        margin-left: 16px;
        margin-bottom: 14px;
    }

    &__imgs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, auto));

        & img {
            width: 100%;
        }

    }
}

@media only screen and (min-width:768px) {
    .gallery {
        &__title {
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 200px;
            margin-bottom: 36px;
        }

        &__imgs {
            grid-template-columns: repeat(3, auto);
        }
    }
}