.header {
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 10;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;

        &__toogler {
            position: absolute;
            right: 16px;
            width: 18px;
            height: 18px;
            opacity: 0;
            z-index: 10;

            &:checked+.header__container__menuIcon {
                .header__container__menuIcon__line {
                    background-color: transparent;

                    &::before {
                        transform: rotate(45deg)
                    }

                    &::after {
                        transform: rotate(-45deg)
                    }

                }

            }

            &:checked~.header__container__navbar {
                pointer-events: all;
                height: 224px;
                background-color: $dark-blue;
            }
        }

        &__menuIcon {
            display: flex;
            justify-content: center;


            &__line {
                width: 18px;
                height: 2px;
                background-color: #000;
                transition: all 0.5s ease-in-out;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 2px;
                    background-color: #000;
                    transition: all 0.5s ease-in-out;
                }

                &::before {
                    transform: translateY(5px);
                }

                &::after {
                    transform: translateY(-5px);
                }
            }
        }

        &__navbar {
            pointer-events: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 0;
            z-index: 10;
            overflow: hidden;
            transition: all ease-in-out 0.5s;

            &__list {
                list-style: none;
                text-align: left;

                li {
                    line-height: 28px;
                    margin-bottom: 24px;
                    margin-top: 16px;
                    margin-left: 16px;

                    a {
                        color: $font-color2;
                        text-decoration: none;

                        &:hover {
                            text-decoration: line-through;
                            color: $cyan;
                        }

                        &:active {
                            color: $font-color1;
                            text-decoration: line-through;
                            opacity: 56%;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width:768px) {
    .header {
        &__container {
            max-width: 1440px;
            margin: 0 auto;
            padding: 22px 100px;



            &__logo {
                width: 36px;
            }

            &__toogler {
                display: none;
            }

            &__menuIcon {
                display: none;
            }

            &__navbar {
                background-color: #fff !important;
                position: initial;
                pointer-events: all;
                height: 28px !important;

                &__list {
                    display: flex;

                    li {
                        margin: 0;
                        margin-right: 46px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            color: $font-color1;
                        }
                    }

                }
            }
        }
    }
}