.themes {
    &__container {
        padding: 48px 16px 42px;

        &__title {
            margin-bottom: 24px;
        }

        &__cards {
            text-align: center;

            &__card {
                margin-bottom: 49px;

                & img {
                    margin-bottom: 13px;
                }
            }

            & div:last-child {
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width:768px) {
    .themes {
        &__container {
            padding: 64px 200px 34px;
            max-width: 1440px;
            margin: 0 auto;

            &__title {
                margin-bottom: 69px;
            }

            &__cards {
                display: flex;
                justify-content: space-around;

                &__card {
                    margin: 0;

                    h3 {
                        max-width: 220px;
                    }
                }
            }
        }
    }
}